@media screen and (max-width:768px) {
    .img-con, .cont-btn {
        padding-top: 3%;
        padding-bottom: 3%;
    }

        .img-con h3 {
            font-size: large;
        }

        .img-con img {
            width: 100%;
            height: 100%;
        }

    .default-cont, .reverse {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .divide-cont{
        padding-top:5%;
        padding-bottom:5%;
    }

    #app,#search-bar{
        display:none;
    }
    .navbar-nav li a:before, #seper:before{
        display:none;
    }
}

@media screen and (max-width:1000px) {

    .nav-btn {
        font-size: 11px;
    }
}
